:root
{
    --bg-primary: #1e272e;
    --c-primary: #ddd;
}

*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* quitar barra desplazadora*/
::-webkit-scrollbar
{
    display: none;
}

main{
    position: relative;
}
/* ==== FORMULARIO ========= */
.formulario_nota{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;

    opacity: 0;
    pointer-events: none;

    transition: opacity .5s .5s;
    --ubicacion: translateY(-100vh); 
    --transition: transform .5s;
}
.formulario_nota--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;    
    --ubicacion: translateY(0);
    --transition: transform .5s .4s;
}
.formulario_nota_contenedor{
    margin: auto;
    width: 90%;
    max-width: 310px;
    height: 90%;
    display: flex;
    transform: var(--ubicacion); 
    transition: var(--transition);
}

#formulario{
    background-image: linear-gradient(10deg, #1c1c1d 0, #0b344d 50%, #161718 100%);
    text-align: center;
    color: white;
    padding: 15px 45px;
    border-radius: 15px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#formulario textarea{
    overflow-y: scroll;
}
.botones_formulario{
    background: #1e405a;
    color: white;
    padding: 1em;
    margin: 5px;
    border: 1px solid white;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .5s;
    margin-top: 10px;
}
.botones_formulario:hover{
    color: #1e405a;
    background-color: white;
}
#formulario > input, textarea{
    padding: 5px 10px;
    border-radius: 15px;
}

#formulario input:focus,
#formulario textarea:focus{
    background-color: wheat;
}
/*  ===== FIN FORMULARIO ===== */


/* ========= FILTRO =============*/
.filtro{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.781);
    opacity: 0;
    pointer-events: none;

    transition: opacity .3s .5s;
    --ubicacion: translateY(-100vh);
    --duracionTransition: transform .5s; /* para cuando sube*/
}
.filtro--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s; /* rapido*/

    --ubicacion: translateY(0);
    --duracionTransition: transform .5s .3s; /* Lento - cuando baja */
}
.filtro_contenedor{
    width: 90%;
    max-width: 310px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    background-color: #1e405a;
    color: white;
    text-align: center;
    border-radius: 20px;

    transform: var(--ubicacion);
    transition: var(--duracionTransition);
}
.filtro_contenedor h3{
    display: inline-block;
    margin-bottom: 20px;
}
.filtro .filtro_opc_contenedor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filtro .filtro_opc_contenedor button{
    border: 1px solid rgb(155, 76, 76);
    border-radius: 10px;
    padding: 10px;
}
.filtro .filtro_opc_contenedor button:hover{
    background-color: wheat;
    color: black;
}

/* ========= FIN FILTRO =============*/

/* INICIO RAMA_LUCAS*/
.row-0{
    color: var(--c-primary);
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 60px;
}

.row-0 .icono{
    font-size: 30px;
    margin: 13px;
}
.row-0 #logo h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 7px;
}
.row-0 .btn{
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 5px;
}
.row-0 .btn:hover{
    background-color: #101418;
}
.row-0 .btn:active{
    background-color: var(--bg-primary);;
}



/* ===================== fila 1 mia ============================ */
.row-1{
    background-color: lightslategray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    padding: 70px 50px;
    height: 100vh;
    gap: 20px;
}
.note1{
    background-color: #2f3640;
    border-radius: 10px;
    color: var(--c-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note1 header .icon,
.note1 header .categoria,
.note1 footer button{
    margin: 10px;
    font-size: 22px;
    background: transparent;
    border: none;
    color: var(--c-primary);
}

.note1 header .categoria
{
    font-size: 20px;
}


.note1 header .favorite:hover,
.note1 footer .check:hover{
    color: rgb(7, 219, 7);
}
.note1 header{
    display: flex;
    justify-content: space-between;
}
.note1 .titulo{
    font-size: 25px;
    text-align: center;
}
.note1 footer{
    display: flex;
    justify-content: flex-end;
}
/* ============================================ */
/* FIN RAMA_LUCAS*/




/* rama_daniel start */

.main .row_note-1 
{
    width: 100vw;
    min-height: 60vh;
    background: var(--bg-primary);
    color: var(--c-primary);
    padding: 10px 50px;
    border-top: 1px solid var(--c-primary);
}

.row_note-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 60px;
    background: var(--bg-primary);
    color: var(--c-primary);
    padding: 0 50px;
    border-top: 1px solid var(--c-primary);

}

.main .row_note-1 .note
{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 200px;
    border-radius: 10px;
    background: #2f3640;
    cursor: pointer;
}

.main .row_note-1 .note::focus{
    outline: 2px solid #333;
}

.main .row_note-1 .note .note__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 8px 0 5px;
}

.main .row_note-1 .note .note__top .note__icon{
    border: none;
    background: none;
}

.main .row_note-1 .note .note__top .note__icon svg
{
    fill: #20bf6b;
    fill: none;
    stroke: var(--c-primary);
    stroke-width: 1;
}

.main .row_note-1 .note .note__top .note__icon svg:hover
{
    fill: #20bf6b;
    stroke: none;
    stroke-width: 0;
}

.main .row_note-1 .note .note__top .note__category
{
    font-size: 1.05rem;
    font-family: "Georgia", serif;
}

.main .row_note-1 .note .note__title
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 0 auto;
    font-size: 1.5rem;
}

.main .row_note-1 .note .note__bottom
{
    text-align: right;
    padding: 0 5px;
}

.main .row_note-1 .note .note__bottom .note__icon
{
    border: none;
    background: none;
}

.main .row_note-1 .note .note__bottom .note__icon svg
{
    stroke: #44bd32;
}

/* rama_daniel end */

#footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#footer ul li i{
    font-size: 1em; 
}

#start-footer{
    background-color: #20bf6b;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 50%;
}